---
layout: default
title: Journal
trans: /journal/
desc: "Personnal website mainly about programming: TeX, R, Ruby, Python..." 
lang: en
page: yes
---

<ul class="liste">
	{% for post in site.posts %}
		{% if post.lang == page.lang and post.page != true %}
		<li>
			<a href="{{ post.url }}">
				<span class="date">{{ post.date | date: "%d %B %Y" | englishdate }}</span>
				{{ post.title | replace:'<br/>','' }}
				<span class="desc">{{ post.desc }}</span>
			</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
