body{
    margin:0;
    font:1em/1.5 Georgia, serif}

@media screen and (min-width: 44em){body{
        font-size:1.125em}}

a{
    color:#156f8f;
    text-decoration:none}

a:hover{
    color:#0c4255}

p,ul,ol,h3,.nav ul{
    margin:1.5em auto 0;
    max-width:33em;
    text-align:justify;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -webkit-hyphens:auto;
    hyphens:auto}





{% if content contains 'class="liste"' %}

.liste{
    margin:2em auto;
    max-width:31em;
    font-size:1.125em;
    line-height:1.333}

.liste li{
    margin:0}

.liste li a{
    display:block;
    padding:1em}

.liste li a:hover{
    background:#fdfdfd}

.liste li + li{
    box-shadow:0 -1px 0 #eee}

.liste span{
    display:block;
    font-size:.7777em;
    line-height:1.714;
    float:right;
    color:#ddd;
    margin-left:1em}



{% else %}



img{
    margin:3em auto;
    width:100%;
    border-radius:.6em}

h1{
    margin:0 0 1.8em;
    padding:4.5em 1em .9em;
    background:#252525;
    color:#fff;
    text-align:center;
    letter-spacing:-.04em;
    font-weight:normal;
    font-size:1.6667em;
    line-height:1.8}

h1 span{
    display:block;
    margin:0 auto;
    color:#888;
    letter-spacing:0;
    font-size:.5em}

h2{
    margin:3.3818em auto 1.2272em;
    max-width:27em;
    font:bold 1.2222em/1.2272 Arial, sans-serif}

h3{
    margin:2em auto -1em;
    font:bold 1em/1.5 Arial, sans-serif}

.caps, sup{
    font-size:.85em}

.post li{
    margin-left:1.5em}

.post ul li:before{
    content:'– '}


.wide,.wide img{
    max-width:50em}
    
{% endif %}








ol,ul{
    margin-top:0;
    padding:0;
    list-style-type:none}



.post, .page, .nav ul{
    margin:0 auto;
    padding:1.5em;
    color:#332}

.nav{
    position:fixed;
    width:100%;
    background:#333;
    letter-spacing:-.04em;
    cursor:default}

.nav li a{
    padding-right:.8em;
    color:#777}

.nav .lang a{
    padding:0}

.nav li{
    display:inline;
    color:#ccc}

.nav .title{
    display:block;
    text-transform: lowercase}

.nav .title a{
    color:#ddd;
    font-size:1.277em;
    line-height:.0}

.nav li a:hover,.nav li .active,.nav .title a:hover{
    color:#fff}

.nav .lang{
    float:right;
    color:#4d4d4d}

.nav .lang span{
    color:#ccc}


.post:after, .page:after{
    content:"❧";
    display: block;
    text-align:center;
    font-size:5em;
    color:#eee;
    cursor:default}

.page{
    padding-top:6em}


.post p:first-of-type:first-letter{
    float:left;
    margin:.13em .05em 0 -.05em;
    font-size:3.2em;
    line-height:.5em}

.post p:first-of-type:first-line{
    letter-spacing:.04em;
    font-variant:small-caps}









{% if content contains "<pre>" %}

code{
    background:#f9f9f9;
    border-radius:.6em;
    padding:.3em .5em;
    font-size:.777em;
    font-family:Monaco,'Lucida Console', monospace}

pre{
    overflow-x:auto;
    margin:1.385em auto;
    padding:1em;
    max-width:29em;
    border-radius:.6em;
    background:#f9f9f9;
    font-family:monospace,monospace}

pre code{
    padding:0}

.ge,.gs{
    color:#93a1a1}

.nb{
    color:#b58900}

.c,.cm,.c1,.sb{
    color:#586e75}

.err,.g,.l,.n,.p,.go,.gp,.gt,.ld,.na,.nl,.nn,.nx,.py,.w,.sd,.sh{
    color:#93a1a1}

.k,.o,.cp,.cs,.gi,.kn,.kp,.ow{
    color:#859900}

.x,.gh,.gu,.kc,.no,.ni,.ne,.se{
    color:#cb4b16}

.gd,.m,.s,.mf,.mh,code .mi,code .mo,.sc,.s2,.si,.sx,.s1,.ss,.il{
    color:#2aa198}

.gr,.kt,.sr{
    color:#dc322f}

.kd,.kr,.nc,.nd,.nf,.nt,.nv,.bp,.vc,.vg,.vi{
    color:#268bd2}
    
{% endif %}



{% if content contains 'class="barre"' %}

.barre{
  max-width:55.38em;
  overflow: auto;
  text-align:center;
  font:.7222em/2.692 Arial, sans-serif;
  margin:4em auto 0;
  height:2.692em;
  color:#999;
  padding-right:7em;
  background:#E8E8E8;
  border-top-left-radius:.5em;
  border-top-right-radius:.5em;
}

.barre a{
 color:#999;
}

.barre a:hover{
  color:#555;
}

.rouge,.jaune,.vert{
  border-radius:50%;
  height:1em;
  width:1em;
  margin:.85em 1em;
  float:left}

.rouge{
  background:#CC7B7A}

.jaune{
  background:#D0BC74;
  margin:.85em 0}

.vert{
  background:#8EBC73}


.barre+pre, .barre+img, .wide{
  max-width:41em;
  border-radius:0;
  margin:0 auto 4em;
  border-bottom-left-radius:.5em;
  border-bottom-right-radius:.5em}

{% endif %}




{% if content contains 'class="barre"' and content contains "<pre>" %}
 
.barre+pre{
  padding:1em 2em;}

.barre+pre,.barre+pre code{
    background:#3D3D3D;
    color:#CCC}

.barre+pre .ge{
    font-style:italic}

.barre+pre .gh{
    color:#ccc;
    font-weight:700}

.barre+pre .gp{
    color:#999;
    font-weight:700}

.barre+pre .gs{
    font-weight:700}

.barre+pre .gu{
    color:#6cc;
    font-weight:700}

.barre+pre .c,.barre+pre .cm,.barre+pre .cp,.barre+pre .c1,.barre+pre .cs,.barre+pre .sd{
    color:#999}

.barre+pre .err,.barre+pre .gd,.barre+pre .no,.barre+pre .ne,.barre+pre .nv,.barre+pre .vc,.barre+pre .vg,.barre+pre .vi{
    color:#f2777a}

.barre+pre .k,.barre+pre .kc,.barre+pre .kd,.barre+pre .kp,.barre+pre .kr{
    color:#c9c}

.barre+pre .l,.barre+pre .m,.barre+pre .mf,.barre+pre .mh,.barre+pre .mi,.barre+pre .mo,.barre+pre .se,.barre+pre .si,.barre+pre .il{
    color:#f99157}

.barre+pre .n,.barre+pre .p,.barre+pre .nb,.barre+pre .ni,.barre+pre .nl,.barre+pre .py,.barre+pre .w,.barre+pre .sc,.barre+pre .bp{
    color:#ccc}

.barre+pre .o,.barre+pre .kn,.barre+pre .nd,.barre+pre .nt,.barre+pre .ow{
    color:#6cc}

.barre+pre .gi,.barre+pre .ld,.barre+pre .s,.barre+pre .sb,.barre+pre .s2,.barre+pre .sh,.barre+pre .sx,.barre+pre .sr,.barre+pre .s1,.barre+pre .ss{
    color:#9c9}

.barre+pre .kt,.barre+pre .nc,.barre+pre .nn{
    color:#fc6}

.barre+pre .na,.barre+pre .nf,.barre+pre .nx{
    color:#69c}

{% endif %}


