---
---

// Fonts
$serif: PT Serif, Georgia, serif
$sans: PT Sans, Arial, sans
$mono: "Lucida Console", monospace

// Sizes
$main: 18
$size: $main
$line: 30/$main
$width: 32em

// Mixins

=font($font:$serif, $style:"", $height:$line, $size:$size)
  font: #{$style} #{$size/$main}em / #{$height/$size*$main} #{$font}

=padding($top, $bottom, $size:$size)
  padding: $top*$line/$size*$main+em $line/$size*$main+em $bottom*$line/$size*$main+em

=width($width:$width, $size:$size)
  max-width: $width/$size*$main


// Éléments de base

body
  font: #{$main/16}em / $line $serif
  margin: 4*$line+em 0 0 0

a
  color: #156f8f
  text-decoration: none
  &:hover
    color: #0c4255




// Main


img
  margin: 3em auto
  width: 100%

p,ul,ol
  margin: 0 auto
  list-style-type: none
  padding: $line+em $line+em 0
  +width
  text-align: justify
  hyphens: auto
  -moz-hyphens: auto
  -ms-hyphens: auto
  -webkit-hyphens: auto

p+ul li, p+ol li
  padding: 0 $line+em 0 1.5*$line+em 

  &:before
    content: "– "


// Lettrine

header+p:first-letter
  float: left
  margin: 0.13em 0.05em 0 -0.05em
  font-size: 3.333em
  line-height: 0.5em

header+p:first-line
  font-variant: small-caps


.caps, sup
  font-size: 0.85em


// Titles

h1, h2, h3
  margin: 0 auto

header
  +padding(1.5,1)
  background: #252525
  color: #fff
  text-align: center
  letter-spacing: -0.04em

  span
    color: #444
    font-style: italic

h1
  $size: 36 !global
  +font
  +padding(0,.5)


h2
  $size: 27 !global
  +font($sans,bold)
  +padding(3,1)
  text-align: center

h3
  $size: 21 !global
  +font($sans,bold)
  +padding(1,0)
  +width


// Footnotes

.footnotes
  li
    $size: 18 !global
    +font
    +padding(0,1)
    list-style-type: decimal
    list-style-position: inside

    p
      display: inline
      padding: 0

  &:before
    $size: 27 !global
    +font
    +padding(3,1)
    content: "Notes"
    display: block
    text-align: center

  .reversefootnote
    display: none


// Large screen

.marginalia
  .footnotes 
    li
      $size: 14 !global
      +font($serif,italic)
      position: absolute
      left: 58%
      right: 1em
      padding: 0
      margin-left: $width/2+1em
      max-width: $width/2
      color: #ccc

      em 
        font-style: normal

      code
        color: #ccc
        font-style: italic

      a
        color: #bbb
        &:hover
          color: #aaa

    &:before
      display: none


// Liste des articles

.liste
  $size: 18 !global
  padding: 0 auto
  +width
  font-size: 1.125em
  line-height: 1.333

  a
    display: block
    padding: 1em

    &:hover
      background: #fdfdfd

  span
    display: block
    font-size: 0.7777em
    line-height: 1.714
    float: right
    color: #ddd
    margin-left: 1em


// Navbar

nav
  position: fixed
  top: 0
  width: 100%
  padding: $line+em 0
  background: #333
  letter-spacing: -0.04em
  cursor: default
  z-index: 1

  ul
    max-width: $width * 1.25
    padding: 0 $line+em


  li
    display: inline
    color: #ccc

    a
      padding-right: 0.8em
      color: #777

      &:hover, &:active
        color: white
  .lang
    float: right
    color: #4d4d4d

    span
      color: #ccc

    a
      padding: 0

  .logo
    display: block
    text-transform: lowercase

    a
      color: #ddd
      font-size: 1.277em
      line-height: 0

      &:hover, &:active
        color: #fff


// Code

code
  $size: $main !global
  +font($sans,"",0)
  color: #666
  hyphens: none
  -moz-hyphens: none
  -ms-hyphens: none
  -webkit-hyphens: none

pre
  $size: $main !global
  +font($sans,bold)
  +padding(1,1)
  +width($width - 3em)
  margin: $line/$size*$main+em auto
  overflow-x: auto
  background: #fafafa
  border-radius: .5em

  code
    $size: 15 !global
    +font($mono)
    +width
    color: #111


// Coloration syntaxique 

.ge,.gs
  color: #93a1a1

.nb
  color: #b58900

.c,.cm,.c1,.sb
  color: #586e75

.err,.g,.l,.n,.p,.go,.gp,.gt,.ld,.na,.nl,.nn,.nx,.py,.w,.sd,.sh
  color: #93a1a1

.k,.o,.cp,.cs,.gi,.kn,.kp,.ow
  color: #859900

.x,.gh,.gu,.kc,.no,.ni,.ne,.se
  color: #cb4b16

.gd,.m,.s,.mf,.mh,code .mi,code .mo,.sc,.s2,.si,.sx,.s1,.ss,.il
  color: #2aa198

.gr,.kt,.sr
  color: #dc322f

.kd,.kr,.nc,.nd,.nf,.nt,.nv,.bp,.vc,.vg,.vi
  color: #268bd2

