---
---

// Fonts
$serif: Georgia, serif
$sans: Arial, sans
$mono: Monaco, "Lucida Console", monospace

// Sizes
$main: 20
$line: 1.5
$pad: 10%

// Vertical rhythm
=vertical($size, $font:"", $top:"", $bottom:"", $style:"", $margin:0, $lh:$line)
  font: #{$style} #{$size/$main}em / #{$lh/$size*$main} $font
  @if $top != "" and $bottom != "" 
    padding: $top*$lh/$size*$main+em $pad $bottom*$lh/$size*$main+em $pad
    @if $margin == 0
      margin: 0
    @else
      margin: #{$margin*$lh/$size*$main+em} 0


// Éléments de base

body
  margin: 4*$line+em 0 0 0
  background: #efeef4
  font: #{$main/16}em / $line $serif

a
  color: #156f8f
  text-decoration: none
  &:hover
    color: #0c4255

ul,ol
  margin: 0 auto
  padding: 0
  list-style-type: none

// Barre de navigation

.nav
  position: fixed
  top: 0
  width: 100%
  padding: $line+em 0
  background: #333
  letter-spacing: -0.04em
  cursor: default
  ul
    width: 80%
  li
    display: inline
    color: #cccccc
    a
      padding-right: 0.8em
      color: #777777
      &:hover, &:active
        color: white
  .lang
    float: right
    color: #4d4d4d
    span
      color: #cccccc
    a
      padding: 0
  .logo
    display: block
    text-transform: lowercase
    a
      color: #dddddd
      font-size: 1.277em
      line-height: 0
      &:hover, &:active
        color: white
// Main

.main
  background: #fff
  margin: auto
  padding: 2*$line+em 0
  max-width: 40em

  box-shadow: 0 0 0.2em #aaa

  &>p
    padding: 0 $pad 
    margin: 0

  &>p:first-child:first-letter
    float: left
    margin: 0.13em 0.05em 0 -0.05em
    font-size: 3.2em
    line-height: 0.5em

  &>p:first-child:first-line
    letter-spacing: 0.04em
    font-variant: small-caps

  img
    margin: 3em auto
    width: 100%

  li
    padding: 0 1em 0 5.5em 

    &:before
      content: "– "

  .caps, sup
    font-size: 0.85em

// Titres

h1
  +vertical(34,$serif,2,2)
  background: #252525
  color: #fff
  text-align: center
  letter-spacing: -0.04em

h2
  +vertical(25,$sans,3,1,bold)
  text-align: center

h3
  +vertical(20,$sans,1,1,bold)

// Liste des articles

.liste
  padding: 0 auto
  max-width: 31em
  font-size: 1.125em
  line-height: 1.333

  li
    padding: 0

    &:before
      content: ""

    a
      display: block
      padding: 1em

      &:hover
        background: #fdfdfd

    li + li
      box-shadow: 0 -1px 0 #eee

    span
      display: block
      font-size: 0.7777em
      line-height: 1.714
      float: right
      color: #ddd
      margin-left: 1em

// Code

code
  background: #f9f9f9
  padding: 0.3em 0.5em
  +vertical(15,$mono,"","","",0,0)

pre
  overflow-x: auto
  background: #f9f9f9
  +vertical(20,$mono,1,1,bold,1)
  code
    padding: 0


// Coloration syntaxique 

.ge,.gs
  color: #93a1a1

.nb
  color: #b58900

.c,.cm,.c1,.sb
  color: #586e75

.err,.g,.l,.n,.p,.go,.gp,.gt,.ld,.na,.nl,.nn,.nx,.py,.w,.sd,.sh
  color: #93a1a1

.k,.o,.cp,.cs,.gi,.kn,.kp,.ow
  color: #859900

.x,.gh,.gu,.kc,.no,.ni,.ne,.se
  color: #cb4b16

.gd,.m,.s,.mf,.mh,code .mi,code .mo,.sc,.s2,.si,.sx,.s1,.ss,.il
  color: #2aa198

.gr,.kt,.sr
  color: #dc322f

.kd,.kr,.nc,.nd,.nf,.nt,.nv,.bp,.vc,.vg,.vi
  color: #268bd2
