---
layout: compress
---
<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=450, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ page.excerpt | strip_html }}">
  <title>{{page.title | strip_html}} – Sylvain Durand</title>
  <link rel="icon" href="/medias/design/favicon.ico" />
  <link rel="canonical" href="{{site.url}}{{page.url}}" />
  {% assign posts=site.posts|where:"date",page.date %}
  {% for post in posts %}
    {% if post.lang != page.lang %} 
      <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url}}" />
    {% endif %}
  {% endfor %}
  <link rel="alternate" href="/rss.xml" type="application/rss+xml">
  <link rel="stylesheet" type="text/css" href="/medias/style.css">
  <script>{% include script.js %}</script>
</head>


<body>

<article>
  <header>
    <h1 style="background-image: url(/medias/headers/{{ page.date | date:'%Y-%m-%d' }}.jpg)" itemprop="name">
      {{ page.title }}
    </h1>
  </header>

  {% include typo.html content=content %}

  <hr/>

  <footer>
      {{ site.t[page.lang].created }} 
      <time datetime="{{ page.date | date:'%Y-%m-%d'}}">
        {% include day.html date=page.date %} {{ site.t[page.lang].of }} {% include month.html date=page.date %}
      </time>
      {{ site.t[page.lang].author }}
      <a href="https://github.com/sylvaindurand/">Sylvain Durand</a>.
  </footer>

</article>


<nav>
  <ul>
    {% for menu in site.nav[page.lang] %}
      <li><a href="{{ menu[1].url }}">{{ menu[1].title }}</a></li>
    {% endfor %}
    <li class="lang">
      {% assign posts=site.posts|where:"date",page.date|sort: 'path' %}
      {% for post in posts %}
        <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
      {% endfor %}
    </li>
  </ul>
</nav>


</body>
</html>
