<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=450, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
  <title>{{page.title | strip_html}} – Sylvain Durand</title>
  <link rel="icon" href="/medias/design/favicon.ico" />
{% assign posts=site.posts|where:"name",page.name %}{% for post in posts %}{% if post.lang != page.lang %}  <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url}}" />
  {% endif %}{% endfor %}<link rel="alternate" href="/rss.xml" type="application/rss+xml">
  <style>{% capture sass %}{% include style.sass %}{% endcapture %}{{ sass | sassify | strip_newlines | remove: '  ' }}</style>{% include script.js %}
</head>
<body>
<h1>{{ page.title }}</h1>
{% include typo.html content=content %}
<div class="nav">
  <ul>
    <li class="logo"><a href="{{site.nav[page.lang].journal.url}}">sylvain durand</a></li>
  {% assign posts=site.posts|where:"name",page.name|sort: 'path'| reverse %}{% for post in posts %}  <li class="lang"><a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a></li>
  {% endfor %}{% for menu in site.nav[page.lang] %}  <li><a href="{{menu[1].url}}">{{menu[1].title}}</a></li>
  {% endfor %}</ul>
</div>
</html>
