---
layout: template
---
{% assign temp1 = content | split: '<pre>' %}
{% for temp2 in temp1 %}{% assign temp3 = temp2 | split: '</pre>' %}

{% if temp3.size == 2 %}

  {% assign pre = temp3.first %}
  {% assign pre = pre | newline_to_br  | replace: "<br />", "</code><code>" %}
  {% assign pre = pre | strip_newlines | replace: "<code></code>", "" %}
  <pre>{{ pre }}</pre>

{% endif %}

{% assign typo = temp3.last %}

{% assign typo = typo | replace: '&#39;', '’' | replace: '~', '&nbsp;' %}
{% assign typo = typo | replace: '[[', '<span class="as"></span><span class="br"> (</span><span class="mar">' %}
{% assign typo = typo | replace: ']]', '</span><span class="br">)</span>' %}

{% if page.lang == 'fr' %}
  {% assign typo = typo | replace: '&ldquo;' , '«&#160;' | replace: '&rdquo;' , '&#160;»' %}
  {% assign typo = typo | replace: ' :',       '&#160;:' | replace: ' %',       '&#160;%' %}
  {% assign typo = typo | replace: ' ;', '<span style="white-space:nowrap">&thinsp;</span>;' %}
  {% assign typo = typo | replace: ' !', '<span style="white-space:nowrap">&thinsp;</span>!' %}
  {% assign typo = typo | replace: ' ?', '<span style="white-space:nowrap">&thinsp;</span>?' %}
{% endif %}

{{ typo }}

{% endfor %}
